.slideshow-gradient
{
	width: 100%;
	height: 100%;
	background-image: url(../img/gradient-slideshow-01.png);
	background-repeat: repeat-x;
	background-position: bottom;
	position: absolute;
	z-index:1;
}
.slide-indicator
{
	opacity: .5;
	transition: all 0.3s ease 0s;
}
.slide-indicator.active,
.slide-indicator:hover
{
	opacity: 1;
}
.catapult-slideshow{
}
.catapult-slideshow-wrapper{
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
	
}
.catapult-slide{
	margin:0;
	padding:0;
	float:left;
	position:relative;
}