/*------------------------------------*\
    FRONT PAGE
\*------------------------------------*/

.what-where-when-why{
	/*height:100px;*/
	background-image: url('../img/frontpage-gradient.png');
	/*position: absolute;
	background-color: transparent;*/
	position: relative;
	background-color:#ffffff;
	width: 100%;
	/*margin-left: -15px;
	margin-top: 0;*/
	text-align: center;
	vertical-align: top;
	color:#ffffff;
	z-index: 10;
	padding-top:15px;
	padding-bottom:15px;
}
.what-where-when-why > div{
	display: inline-block;
	text-align: center;
	/*width: 24%;*/	
	width: 49%;
	vertical-align: top;
	text-transform: uppercase;
}

.what-where-when-why .question{
	font-size: 50px;
	line-height: 46px;
	font-family: 'GothamCondensed-Medium';
	
}
.what-where-when-why .answer{
	font-size: 14px;
	font-family: 'GothamCondensed-Light';
}

.main-column
{
	background-color: #fbaf3f;
}
.slideshow-gradient
{
	width: 100%;
	height: 100%;
	background-image: url(../img/gradient-slideshow-01.png);
	background-repeat: repeat-x;
	background-position: bottom;
	position: absolute;
	/*z-index:1;*/
}
.slideshow-no-gradient
{
	width: 100%;
	height: 100%;
	/*background-image: url(../img/gradient-slideshow-01.png);
	background-repeat: repeat-x;
	background-position: bottom;*/	
	position: absolute;
	/*z-index:1;*/
}
.slideshow-controls
{
	position:absolute;
	z-index:2; 
	bottom:0; 
	padding-left:50px; 
	padding-bottom:50px;
}
.slide-description
{
	font-size:24px;
	color:#ffffff;
	font-family: 'GothamLight-Regular';
}
.slide-description a
{
	font-weight:bold;
	font-size:24px;
	color:#ffffff;
}
.slide-indicator-wrapper
{
	font-weight:bold;
	font-size:24px;
}
.slide-indicator
{
	opacity: .5;
	transition: all 0.3s ease 0s;
}
.slide-indicator.active,
.slide-indicator:hover
{
	opacity: 1;
}
.slideshow-left-arrow
{
	position:absolute;
	z-index:2; 
	top:50%; 
	padding-left: 20px;
}
.slideshow-right-arrow
{
	position:absolute;
	z-index:2; 
	top:50%; 
	right:0; 
	padding-right:20px;
}

/*.catapult-slideshow{
}*/
.catapult-slideshow-wrapper{
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
	
}
.catapult-slide{
	margin:0;
	padding:0;
	float:left;
	position:relative;
}

@media only screen and (min-width:480px) {
		
	.what-where-when-why{
		position: relative;
		background-color:#ffffff;
	}
	.what-where-when-why > div{
		width: 49%;
	}
}
@media only screen and (min-width:768px) {
	.what-where-when-why > div{
		width: 24%;
	}
}

@media only screen and (min-width:1110px) {	
	.what-where-when-why{
		position: absolute;
		background-color: transparent;
	}
}
