.main-column
{
	background-color: #fbaf3f;
}
.slideshow-gradient
{
	width: 100%;
	height: 100%;
	background-image: url(../img/gradient-slideshow-01.png);
	background-repeat: repeat-x;
	background-position: bottom;
	position: absolute;
	z-index:1;
}
.slideshow-controls
{
	position:absolute;
	z-index:1; 
	bottom:0; 
	padding-left:20px; 
	padding-bottom:20px;
}
.slide-description
{
	font-weight:bold;
	font-size:24px;
	color:#ffffff;
}
.slide-description a
{
	font-weight:bold;
	font-size:24px;
	color:#ffffff;
}
.slide-indicator-wrapper
{
	font-weight:bold;
	font-size:24px;
}
.slide-indicator
{
	opacity: .5;
	transition: all 0.3s ease 0s;
}
.slide-indicator.active,
.slide-indicator:hover
{
	opacity: 1;
}
.slideshow-left-arrow
{
	position:absolute;
	z-index:1; 
	top:50%; 
	padding-left: 20px;
}
.slideshow-right-arrow
{
	position:absolute;
	z-index:1; 
	top:50%; 
	right:0; 
	padding-right:20px;
}

.catapult-slideshow{
}
.catapult-slideshow-wrapper{
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
	
}
.catapult-slide{
	margin:0;
	padding:0;
	float:left;
	position:relative;
}